html {
  font-family: 'Open Sans', sans-serif;
  background: #FFFFFF;
}

h1 {
  font-size: 22pt;
  margin-bottom: 20pt;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Serif', serif;
}

h2, h3, h4, h5, h6 {
  margin-bottom: 10pt;
}

body {
  color: #333;
  margin: 0;
  padding: 0;
  font-size: 12pt;
}

blockquote {
    font-size: 18px;
    font-style: italic;
    width: 500px;
    margin-left: 50px;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 30px;
    line-height: 1.45;
    position: relative;
    border: dashed 1px;
    border-color: #38b3d8;
}

blockquote:before {
    font-family: Georgia;
    color: #38b3d8;
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -10px;
    top: -30px;
}

#container {
  padding-left: 1em;
  padding-right: 1em;
  max-width: 44em;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.full-width {
 max-width: 100%;
}

@media screen and (min-width: 600px) {
  #container {
    padding-left: 28px;
    padding-right: 28px;
  }
}

#indextitle {
  font-size: 40pt;
  font-family: 'PT Serif', serif;
}

.year {
  color: gray;
}

a.title:link, a.title:visited {color: #333; text-decoration: none;}
a.title:active, a.title:hover, a.title:focus {
  color: #00a6d8; text-decoration: none;
}
a:link, a:visited {color: #38b3d8; text-decoration: none;}
a:active, a:hover, a:focus {color: #00a6d8; text-decoration: none;}

p {
  margin-top: 0em;
  margin-bottom: 1.15em;
}

pre {
  margin-top: 0em;
  margin-bottom: 1.15em;
  background-color: #f7f7f7;
  overflow: auto;
  padding: 5pt;
}

@media screen and (min-width: 600px) {
  pre {
    padding: 16pt;
  }
}

code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
